.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.mainImage {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  height: auto;
  max-height: 300px;
  margin-bottom: 10px;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 50px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.thumbnailActive {
  border: 2px solid #5bc0eb;
}
